#alertBlock {
  width: 80%;
  height: 100%;
  padding: 2vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(170, 1, 1);
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  display: flex;
  justify-content: flex-end; 
  min-height: 100vh;
  
}


.alert {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-height: 10vh;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid black;
  min-height: 10vh;
}

.notice {
  font-size: 1.8em;
  font-weight: bold;
  background: white;
  color: #b71c1c;
  padding: 8px 16px;
  border-radius: 15px;
  border: 2px solid black;
  display: inline-block;
  margin-top: 10px;
}

.section {
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.deviations {
  background-color: #faedc1;
  border-left: 5px solid #fbc02d;
}

.improvements {
  background-color: #d0f7d3;
  border-left: 5px solid #43a047;
}

footer {
  margin-top: 10px;
  padding: 20px;
  font-style: italic;
  text-align: center;
}
.returnInfos{
  background-color: gray;
  color: white;
  font-size: 15px;
  border-radius: 8px;
}
#infoForm{
  font-family: "Inter", sans-serif;
  background-color: gray;
}
#infoForm header{
  background-color: #0803D8;
  color: white;
  margin-top: 0px;
  
}