#alertBlock {
  width: 110%;
  height: 100%;
  padding: 2vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(233, 3, 3);
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  display: flex;
  justify-content: flex-end; 
  min-height: 100vh;
  
}

.alert {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-height: 10vh;
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  border: 2.5px solid black;
  min-height: 10vh;
}
.alert h1{
  color: rgb(184, 0, 0);
}

.notice {
  font-size: 1.8em;
  font-weight: bold;
  background: rgb(233, 3, 3);
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid black;
  display: inline-block;
  margin-top: 10px;
}

.section {
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: white;
  border: 2.5px solid black;
}

.deviations {
  
}

.improvements {

}

footer {
  margin-top: 10px;
  padding: 20px;
  font-style: italic;
  text-align: center;
}
#freePhrase{
  color: white;
}
.returnInfos{
  background-color: #fae71b;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 8px;
}
#infoForm{
  font-family: "Inter", sans-serif;
  background-color: gray;
}
#infoForm header{
  background-color: #0803D8;
  color: white;
  margin-top: 0px;
  
}