body {
    background-color: rgb(221, 219, 219);
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(31, 54, 255);
    color: #fcfcfc;
    height: 3rem;
    width: 100%;
    top: 0;
    position: fixed;
    padding: 1rem;
    text-align: start;
    z-index: 10;
}

#header {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 2fr minmax(100px, 1fr);
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2.7px solid black;
    padding: 10px;
}

#header h1 {
    color: rgb(233, 1, 1);
    margin: 0;
}

#imageBlock {
    top: 8rem;
    position: relative;
    margin: 1rem auto;
    max-width: 90%;
    background-color: rgb(233, 1, 1);
    border-radius: 8px;
    border: 3px solid rgb(24, 0, 0);
    padding: 2%;
    box-sizing: border-box;
    font-size: clamp(0.8rem, 1vw, 1rem);
    text-align: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2.7px solid black;
    padding: 10px;
    margin-top: 10px;
}

.notesTitle {
    font-size: medium;
    display: flex;
    align-items: center;
    min-width: 135px;
    gap: 5px;
}

footer p {
    color: white;
    margin: 5px 0;
}

.footerInfos {
    background-color: #fce46c;
    color: black;
    border-radius: 6px;
    padding: 5px;
}

#notice {
    font-size: 30px;
    background-color: rgb(233, 1, 1);
    width: 105px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: 0 0 0 3px rgb(233, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#form {
    background-color: #fcfcfc;
    width: 40%;
    margin: 1rem auto;
    border-radius: 8px;
    padding: 1rem;

}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Responsividade */
@media (min-width: 1280px) {
    #form { width: 10%; }
    #imageBlock{ width: 100%;}
}

@media (min-width: 768px) {
    #header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #form { width: 90%; }

    .section { flex-direction: column; }

    #imageBlock {
        max-width: 95%;
        font-size: 0.9rem;
    }
}
